In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [16]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [17]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [18]:
df.bmi.mean()

28.893236911794673

In [19]:
df.shape

(5110, 12)

In [20]:
#Creating df with dropped rows, where bmi is nan
df_nona = df.dropna()

In [21]:
df.shape

(5110, 12)

In [22]:
df_nona.shape

(4909, 12)

In [23]:
#Creating df with bmi column nans replaced with mean of bmi
df_mean = df.copy()
df_mean.bmi = df_mean.bmi.mean()

In [24]:
df.shape

(5110, 12)

In [25]:
df_mean.shape

(5110, 12)

In [27]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [31]:
df_nona.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000
mean,37064.313506,42.865374,0.091872,0.049501,105.305150,28.893237,0.042575
std,20995.098457,22.555115,0.288875,0.216934,44.424341,7.854067,0.201917
min,77.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,18605.000000,25.000000,0.000000,0.000000,77.070000,23.500000,0.000000
50%,37608.000000,44.000000,0.000000,0.000000,91.680000,28.100000,0.000000
75%,55220.000000,60.000000,0.000000,0.000000,113.570000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [32]:
df_mean.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5.110000e+03,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,2.889324e+01,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,2.000374e-12,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,2.889324e+01,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,2.889324e+01,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,2.889324e+01,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,2.889324e+01,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,2.889324e+01,1.000000

In [34]:
df.stroke.value_counts()

0    4861
1     249
Name: stroke, dtype: int64

We see that we've got unbalanced dataset